<!doctype html>
<html ng-app="ng-home">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/home_style.css" rel="stylesheet" type="text/css">
    <link href="../public/stylesheets/home_style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="javascripts/ng-home.js"></script>
</head>

<body ng-controller="bodyController as bodyCtrl">
<div id="header">
    <div id="header-wrapper">
        <img id="linkedin-logo" src="images/linkedin_logo.png" width="44" height="36" alt=""/>
        <div id="search-people-container">
            <div id="people-logo-container">
                <span id="people-icon" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <form class="form-inline" id="search-people-form">
                <div class="form-group" id="search-peaple">
                    <div id="search-area">
                        <input ng-model="bodyCtrl.searchName" name="search-people-box" type="text" class="form-control"
                               id="search-people-box">
                        <ul ng-show="bodyCtrl.searchSuccess">
                            <li id="search-item" ng-repeat="user in bodyCtrl.foundUsers">
                                <a>{{ user.firstname + " " + user.lastname }}</a>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </li>
                        </ul>
                    </div>
                    <button name="search-submit" type="submit" class="form-control" id="search-submit"
                            ng-click="bodyCtrl.searchMember()">
                        <span id="search-icon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="nav-bar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/connections">Connections</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div id="profile-container-wrapper">

        <div id="overview" class="profile-container panel panel-default">
            <div class="panel-body">
                <button ng-click="bodyCtrl.signout()" type="button" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out
                </button>

                <h1>{{bodyCtrl.user.name.firstname + ' ' + bodyCtrl.user.name.lastname}}</h1>

                <h5 ng-repeat="edu in bodyCtrl.user.education">Education: {{edu.school}}</h5>
                <h5 ng-repeat="exp in bodyCtrl.user.experience">Company: {{exp.company}}</h5>
                <h5 ng-show="bodyCtrl.user.last_login_time!==null">Last login time:
                    {{bodyCtrl.user.last_login_time}}</h5>
            </div>
        </div>
        <div id="summary" class="profile-container panel panel-default">
            <div class="panel-body">
                <h3>Summary</h3>
                <button ng-click="summaryEditShow=!summaryEditShow" ng-show="bodyCtrl.user.summary[0].content" type="button" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <form>
                    <div class="form-group">
                        <p ng-hide="this.summaryEditShow" class="form-control-static">
                            {{bodyCtrl.user.summary[0].content}}</p>
                        <textarea ng-show="this.summaryEditShow" class="form-control"
                                  ng-model="bodyCtrl.user.summary[0].content"></textarea>
                    </div>
                </form>
            </div>
            <div ng-show="summaryAddShow" class="add-info-panel">
                <hr>
                <div class="panel-body">
                    <h3></h3>
                </div>
            </div>
            <div ng-hide="bodyCtrl.user.summary[0].content" class="panel-footer profile-footer">
                <button ng-click="summaryAddShow=true" class="add-info-button">Add summary</button>
            </div>
        </div>
        <div id="education" class="profile-container panel panel-default">
            <div class="panel-body">
                <h3>Education</h3>
                <blockquote ng-repeat="edu in bodyCtrl.user.education">
                    <form>
                        <button ng-click="eduEditShow=!eduEditShow" type="button" class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <div class="form-group">
                            <label>School</label>
                            <input ng-show="this.eduEditShow" type="text" class="form-control" ng-model="edu.school">
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.school}}</p>
                        </div>
                        <div class="form-group">
                            <label>Major</label>
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.major}}</p>
                            <input ng-show="this.eduEditShow" type="text" class="form-control" ng-model="edu.major">
                        </div>
                        <div class="form-group">
                            <label>Degree</label>
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.degree}}</p>
                            <input ng-show="this.eduEditShow" type="text" class="form-control" ng-model="edu.degree">
                        </div>
                        <div class="form-group">
                            <label>Start Time</label>
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.start_date}}</p>
                            <input ng-show="this.eduEditShow" type="text" class="form-control"
                                   ng-model="edu.start_date">
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.end_date}}</p>
                            <input ng-show="this.eduEditShow" type="text" class="form-control" ng-model="edu.end_date">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <p ng-hide="this.eduEditShow" class="form-control-static">{{edu.description}}</p>
                            <textarea ng-show="this.eduEditShow" class="form-control"
                                      ng-model="edu.description"></textarea>
                        </div>
                        <input class="btn btn-success btn-block" ng-show="this.eduEditShow" type="submit" value="Save">
                        <input class="btn btn-danger btn-block" ng-show="this.eduEditShow" type="submit" value="Remove">
                    </form>
                </blockquote>
            </div>
            <div class="add-info-panel" ng-show="eduAddShow">
                <hr>
                <div class="panel-body">
                    <blockquote>
                        <form>
                            <div class="form-group">
                                <label>School</label>
                                <input type="text" class="form-control" ng-model="bodyCtrl.add.education.school">
                            </div>
                            <div class="form-group">
                                <label>Major</label>
                                <input type="text" class="form-control" ng-model="bodyCtrl.add.education.major">
                            </div>
                            <div class="form-group">
                                <label>Degree</label>
                                <input type="text" class="form-control" ng-model="bodyCtrl.add.education.degree">
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                <input type="text" class="form-control" ng-model="bodyCtrl.add.education.start_date">
                            </div>
                            <div class="form-group">
                                <label>End Time</label>
                                <input type="text" class="form-control" ng-model="bodyCtrl.add.education.end_date">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" ng-model="bodyCtrl.add.education.description"></textarea>
                            </div>
                            <input class="btn btn-success btn-block" type="submit" value="Save"
                                   ng-click="bodyCtrl.addEducation(); eduAddShow = false;">
                            <input class="btn btn-danger btn-block" type="button" value="Cancel"
                                   ng-click="bodyCtrl.add.education = null; eduAddShow = false;">
                        </form>
                    </blockquote>
                </div>
            </div>
            <div ng-hide="bodyCtrl.user.edu.content" class="panel-footer profile-footer">
                <button ng-click="eduAddShow=true" class="add-info-button">Add education</button>
            </div>
        </div>
        <div id="experience" class="profile-container panel panel-default">
            <div class="panel-body">
                <h3>Experience</h3>
                <ul>
                    <li>
                    <button ng-click="expEditShow=!expEditShow" type="button" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    </li>
                </ul>
            </div>
            <div class="add-info-panel" hidden="">
                <hr>
                <div class="panel-body">
                    <h3></h3>
                </div>
            </div>
            <div class="panel-footer profile-footer">
                <button class="add-info-button">Add experience</button>
            </div>
        </div>
        <div id="skills" class="profile-container panel panel-default">
            <div class="panel-body">
                <h3>Skills</h3>
                <div>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                <span class="label label-primary">test</span>
                
                </div>
            </div>
            <div class="add-info-panel" hidden="">
                <hr>
                <div class="panel-body">
                    <h3></h3>
                </div>
            </div>
            <div class="panel-footer profile-footer">
                <button class="add-info-button">Add skills</button>
            </div>
        </div>
        <div id="connections" class="profile-container panel panel-default">
            <div class="panel-body">
                <h3>Connections</h3>
            </div>
            <div class="panel-footer profile-footer">
            <button class="add-info-button">Add Connections</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
