<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body class="new-ghome" id="pagekey-guest-home">

<div id="header">
    <div class="container">
        <h1><img src="https://static.licdn.com/scds/common/u/img/logos/logo_132x32_2.png" alt="LinkedIn" class="logo" height="32" width="132"></h1>

        <p class="textad"></p>

        <div class="login">
            <form action="https://www.linkedin.com/uas/login-submit" method="POST" name="login" novalidate="novalidate" id="login" class="ajax-form" data-jsenabled="check">

                <input type="hidden" name="source_app" value="">
                <fieldset>

                    <ul id="control_gen_1">
                        <li>
                            <label for="session_key-login">Email address</label>

                            <div class="fieldgroup">
                                <span class="error" id="session_key-login-error"></span>
                                <input type="text" name="session_key" value="" id="session_key-login" autofocus="" tabindex="1" size="27" data-ime-mode-disabled="">
                            </div>
                        </li>
                        <li>
                            <label for="session_password-login">Password</label>

                            <div class="fieldgroup">
                                <span class="error" id="session_password-login-error"></span>
                                <input type="password" name="session_password" value="" id="session_password-login" tabindex="2" size="27">
                            </div>
                        </li>
                        <li class="button">
                            <input type="submit" name="signin" value="Sign In" id="signin" tabindex="3" class="btn-secondary">
                        </li>
                    </ul>

                </fieldset>
                <input type="hidden" name="session_redirect" value="" id="session_redirect-login">
                <input type="hidden" name="trk" value="" id="trk-login">
                <input type="hidden" name="loginCsrfParam" value="9aa8be87-1a51-4ee6-83a3-f3ec52b38f4d" id="loginCsrfParam-login">
                <input type="hidden" name="fromEmail" value="" id="fromEmail-login">
                <input type="hidden" name="csrfToken" value="ajax:1594852036113577973" id="csrfToken-login">
                <input type="hidden" name="sourceAlias" value="0_7r5yezRXCiA_H0CRD8sf6DhOjTKUNps5xGTqeX8EEoi" id="sourceAlias-login">
            </form>
        </div>
    </div>
</div>

<div id="main-wrapper">

    <div id="main">
        <header>
            <div id="content">
                <h2><span class="text-gradient"></span><span class="headline">
Connect, share ideas, and discover opportunities.
</span></h2>
            </div>
        </header>
        <section>
            <div class="two-row-image">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_1_150x150_v1.png" width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_2_150x150_v1.png" width="150" height="150" alt="Female Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_3_150x150_v1.png" width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_4_150x150_v1.png" width="150" height="150" alt="Female Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_5_150x150_v1.png" width="150" height="150" alt="Male Headshot">
                <img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_6_150x150_v1.png" width="150" height="150" alt="Male Headshot">
            </div>
        </section>
        <section>
            <div class="jointoday" id="module-id3">
                <div class="header">
                    <h2>Get started – it’s free.</h2>
                </div>
                <div class="content">
                    <p>Registration takes less than 2 minutes.</p>
                    <script>
                        angular.module('myApp', []).controller('signUpFormController', function ($scope, $http) {
                            $scope.submit = function() {
                                console.log("good");
                                $http.post("http://localhost:3000/signup", $scope.signup).success(function(res) {
                                    console.log(res);
                                    $scope.response=res;
                                });
                            }
                        });
                    </script>
                    <form ng-submit="submit()"  ng-controller="signUpFormController" name="coldRegistrationForm" novalidate="novalidate" class="feature" data-jsenabled="check" id="guest-home-reg-form">
                        <p >result {{ response }}</p>
                        <fieldset>
                            <legend>Sign Up</legend>


                            <ul>
                                <li id="first-name">
                                    <label for="firstName-coldRegistrationForm" id="control_gen_2" style="display: none;">First name</label>

                                    <span class="error" id="firstName-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signup.firstname" type="text" name="firstName" value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55" maxlength="20" tabindex="5" placeholder="First name">
                                    </div>
                                </li>
                                <li id="last-name">
                                    <label for="lastName-coldRegistrationForm" id="control_gen_3" style="display: none;">Last name</label>

                                    <span class="error" id="lastName-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signup.lastname" type="text" name="lastName" value="" id="lastName-coldRegistrationForm" autocomplete="on" size="55" maxlength="40" tabindex="6" placeholder="Last name">
                                    </div>
                                </li>
                                <li id="email-address">
                                    <label for="email-coldRegistrationForm" id="control_gen_4" style="display: none;">Email address
                                    </label>

                                    <span class="error" id="email-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signup.email" type="email" name="email" value="" id="email-coldRegistrationForm" autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled="" placeholder="Email address">
                                    </div>
                                </li>
                                <li id="password">
                                    <label for="password-coldRegistrationForm" id="control_gen_5" style="display: none;">Password (6 or more characters)</label>

                                    <span class="error" id="password-coldRegistrationForm-error"></span>

                                    <div class="fieldgroup">
                                        <input ng-model="signup.password" type="password" name="password" value="" id="password-coldRegistrationForm" tabindex="8" placeholder="Password (6 or more characters)">
                                    </div>
                                </li>
                            </ul>

                            <div class="form-bottom-row">
                                <p class="action">
                                    <input type="submit" name="" value="Join now" id="btn-submit" class="btn-action" tabindex="9">
                                </p>
                            </div>
                        </fieldset>
                        <div class="progress-indicator"></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

<footer id="guestfooter">
    <div id="ghome-footer">
        <div id="search-browse">
            <div id="search">
                <form name="searchForm" action="" method="get">
                    <h3>Find a colleague:</h3>
                    <ul>
                        <li>
                            <label for="first" id="control_gen_6" style="display: none;">First name</label>

                            <input type="text" name="first" id="first" size="185" placeholder="First name">
                        </li>
                        <li>
                            <label for="last" id="control_gen_7" style="display: none;">Last name</label>

                            <input type="text" name="last" id="last" size="185" placeholder="Last name">
                        </li>
                    </ul>
                    <p class="action">
                        <input class="btn-secondary" type="submit" name="search" value="Search">
                    </p>
                </form>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
