html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

input[data-ime-mode-disabled] {
    ime-mode: disabled !important
}

input[type=file] {
    ime-mode: disabled !important
}


@-webkit-keyframes archetype-loader {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes archetype-loader {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes archetype-loader {
    from {
        -ms-transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes archetype-loader {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes archetype-loader {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes archetype-loader-position-medium-1 {
    from, to {
        background-position: 0 -288px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-moz-keyframes archetype-loader-position-medium-1 {
    from, to {
        background-position: 0 -288px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-ms-keyframes archetype-loader-position-medium-1 {
    from, to {
        background-position: 0 -288px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-o-keyframes archetype-loader-position-medium-1 {
    from, to {
        background-position: 0 -288px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@keyframes archetype-loader-position-medium-1 {
    from, to {
        background-position: 0 -288px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-webkit-keyframes archetype-loader-position-medium-2 {
    from, to {
        background-position: 0 -230px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-moz-keyframes archetype-loader-position-medium-2 {
    from, to {
        background-position: 0 -230px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-ms-keyframes archetype-loader-position-medium-2 {
    from, to {
        background-position: 0 -230px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-o-keyframes archetype-loader-position-medium-2 {
    from, to {
        background-position: 0 -230px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@keyframes archetype-loader-position-medium-2 {
    from, to {
        background-position: 0 -230px;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        margin-top: -29px
    }
}

@-webkit-keyframes archetype-loader-position-small-1 {
    from, to {
        background-position: 0 -362px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-moz-keyframes archetype-loader-position-small-1 {
    from, to {
        background-position: 0 -362px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-ms-keyframes archetype-loader-position-small-1 {
    from, to {
        background-position: 0 -362px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-o-keyframes archetype-loader-position-small-1 {
    from, to {
        background-position: 0 -362px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@keyframes archetype-loader-position-small-1 {
    from, to {
        background-position: 0 -362px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-webkit-keyframes archetype-loader-position-small-2 {
    from, to {
        background-position: 0 -346px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-moz-keyframes archetype-loader-position-small-2 {
    from, to {
        background-position: 0 -346px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-ms-keyframes archetype-loader-position-small-2 {
    from, to {
        background-position: 0 -346px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-o-keyframes archetype-loader-position-small-2 {
    from, to {
        background-position: 0 -346px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@keyframes archetype-loader-position-small-2 {
    from, to {
        background-position: 0 -346px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px
    }
}

@-webkit-keyframes archetype-loader-position-large-1 {
    from, to {
        background-position: 0 -115px;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-moz-keyframes archetype-loader-position-large-1 {
    from, to {
        background-position: 0 -115px;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-ms-keyframes archetype-loader-position-large-1 {
    from, to {
        background-position: 0 -115px;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-o-keyframes archetype-loader-position-large-1 {
    from, to {
        background-position: 0 -115px;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@keyframes archetype-loader-position-large-1 {
    from, to {
        background-position: 0 -115px;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-webkit-keyframes archetype-loader-position-large-2 {
    from, to {
        background-position: 0 0;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-moz-keyframes archetype-loader-position-large-2 {
    from, to {
        background-position: 0 0;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-ms-keyframes archetype-loader-position-large-2 {
    from, to {
        background-position: 0 0;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@-o-keyframes archetype-loader-position-large-2 {
    from, to {
        background-position: 0 0;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

@keyframes archetype-loader-position-large-2 {
    from, to {
        background-position: 0 0;
        width: 115px;
        height: 115px;
        margin-left: -57.5px;
        margin-top: -57.5px
    }
}

html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

body {
    font-size: 62.5%;
    line-height: 1.2;
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

body {
    font-family: sans-serif
}

.os-win body {
    font-family: Arial, sans-serif
}

.os-mac body {
    font-family: Helvetica, Arial, sans-serif
}

.os-linux body {
    font-family: Helvetica, FreeSans, "Liberation Sans", Helmet, Arial, sans-serif
}

body, input, select, textarea, button {
    font-family: sans-serif
}

.os-win body, .os-win input, .os-win select, .os-win textarea, .os-win button {
    font-family: Arial, sans-serif
}

.os-mac body, .os-mac input, .os-mac select, .os-mac textarea, .os-mac button {
    font-family: Helvetica, Arial, sans-serif
}

.os-linux body, .os-linux input, .os-linux select, .os-linux textarea,
.os-linux button {
    font-family: Helvetica, FreeSans, "Liberation Sans", Helmet, Arial, sans-serif
}

hr {
    display: none
}

strong {
    font-weight: bold
}

abbr, acronym {
    border: none
}

img {
    border: none
}

a {
    text-decoration: none;
    color: #069
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #069
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

span.error {
    font-weight: bold;
    color: #900
}

div.alert strong {
    font-weight: normal
}

div.alert p {
    margin: 0;
    font-size: 100%
}

div.alert p+p {
    margin-top: 5px
}

div.alert img {
    display: none
}

div.alert a {
    color: #fff;
    text-decoration: none;
    font-weight: bold
}

div.alert:hover a {
    text-decoration: underline
}

div.alert ul {
    margin: 0 21px 5px 7px
}

#notice-privacy p {
    padding-right: 15px
}


.tabs ul {
    font-size: 85%;
    height: 26px;
    margin: 0 0 0 17px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden
}

.tabs li, .tabs li a, .tabs li strong {
    display: block;
    float: left
}


.tabs li a {
    color: #777;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

.tabs li.disabled a, .tabs li.disabled a:hover *, .tabs li.disabled strong {
    color: #ccc;
    cursor: text
}

.tabs li em {
    color: #777;
    font-weight: normal;
    font-style: normal
}

.tabs li.selected strong {
    color: #C60;
    padding: 7px 14px 6px 14px
}

.tabs li a:hover, .tabs li a:hover * {
    color: #39C;
    text-decoration: none !important
}

.tabs li.selected a:hover, .tabs li.selected a:hover * {
    color: #C60
}

.tabs p {
    text-align: right;
    margin: -18px 9px 0 0;
    padding: 0;
    font-size: 85%
}

.tabs p a {
    color: #777
}

.btn-secondary:hover {
    background: #B7B7B7;
    background: -moz-linear-gradient(top, #e4e4e4 0, #e4e4e4 1px, #c8c8c8 1px, #b7b7b7 100%);
    background: -o-linear-gradient(top, #e4e4e4 0, #e4e4e4 1px, #c8c8c8 1px, #b7b7b7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4), color-stop(5%, #e4e4e4), color-stop(5%, #c8c8c8), color-stop(100%, #b7b7b7));
    background: linear-gradient(top, #e4e4e4 0%, #e4e4e4 1px, #c8c8c8 1px, #b7b7b7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#B7B7B7', GradientType=0 )
}

.btn-action {
    background: #FFCF0B;
    background: -moz-linear-gradient(top, #fff5bd 0, #fff5bd 1px, #ffe976 1px, #ffcf0b 100%);
    background: -o-linear-gradient(top, #fff5bd 0, #fff5bd 1px, #ffe976 1px, #ffcf0b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff5bd), color-stop(5%, #fff5bd), color-stop(5%, #ffe976), color-stop(100%, #ffcf0b));
    background: linear-gradient(top, #fff5bd 0%, #fff5bd 1px, #ffe976 1px, #ffcf0b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFE976', endColorstr='#FFCF0B', GradientType=0 );
    border-color: #e8b463;
    color: #333 !important;
    font-weight: bold
}

.btn-action:hover {
    background: #F6C408;
    background: -moz-linear-gradient(top, #faeeae 0, #faeeae 1px, #f5db59 1px, #f6c408 100%);
    background: -o-linear-gradient(top, #faeeae 0, #faeeae 1px, #f5db59 1px, #f6c408 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #faeeae), color-stop(5%, #faeeae), color-stop(5%, #f5db59), color-stop(100%, #f6c408));
    background: linear-gradient(top, #faeeae 0%, #faeeae 1px, #f5db59 1px, #f6c408 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F5DB59', endColorstr='#F6C408', GradientType=0 )
}

.btn-action:active {
    background: #F5DD61;
    background: -moz-linear-gradient(top, #f6c202 0, #f5dd61 100%);
    background: -o-linear-gradient(top, #f6c202 0, #f5dd61 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6c202), color-stop(100%, #f5dd61));
    background: linear-gradient(top, #f6c202 0%, #f5dd61 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F6C202', endColorstr='#F5DD61', GradientType=0 )
}

.btn-toggle span {
    display: block
}

.btn-toggle.mini span {
    font-weight: normal
}

.menu-btn li {
    display: block;
    float: none;
    margin: 0;
    zoom: 1
}


.menu-btn a {
    display: block;
    zoom: 1
}

.menu-btn .menu-btn-item-selected a {
    color: #000;
    font-weight: bold
}

a.action, span.action {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none !important;
    color: #000 !important;
    cursor: pointer;
    text-align: center
}

a.action span, span.action span {
    display: block;
    min-height: 16px;
    padding: 3px 20px !important;
    white-space: normal !important
}

#lang-list a, #li-about-options a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0077b5;
    text-decoration: none;
    display: block
}

#lang-list a:visited, #li-about-options a:visited {
    color: #069
}

#lang-list a:hover, #lang-list a:focus, #lang-list a:visited:hover, #lang-list a:visited:focus, #li-about-options a:hover, #li-about-options a:focus, #li-about-options a:visited:hover, #li-about-options a:visited:focus {
    background: #069;
    color: #fff
}

#lang-list .selected a, #li-about-options .selected a {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal
}

#lang-list .selected a:hover, #lang-list .selected a:focus, #li-about-options .selected a:hover, #li-about-options .selected a:focus {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
    background: none;
    cursor: text
}

input[type="text"], input[type="email"], input[type="password"] {
    background: #f4f4f4;
    border: 1px solid #DDD;
    -webkit-box-shadow: inset 1px 1px 4px #ddd;
    -moz-box-shadow: inset 1px 1px 4px #ddd;
    box-shadow: inset 1px 1px 4px #ddd;
    font-size: 15px;
    height: 23px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0 5px;
    width: 360px
}

input:focus {
    -webkit-box-shadow: 0 0 3px #069;
    -moz-box-shadow: 0 0 3px #069;
    box-shadow: 0 0 3px #069
}

label {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    color: #000;
    font-size: 12px;
    line-height: 16px
}

.new-ghome #main-wrapper {
    margin-top: 62px
}

.new-ghome .alert p strong {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: normal
}

.new-ghome #main {
    margin-left: auto;
    margin-right: auto;
    width: 974px;
    overflow: hidden
}

.new-ghome #content h2 {
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    font-size: 34px;
    line-height: 40px;
    text-align: center
}

.new-ghome #stack-show figure {
    margin: 0
}

.new-ghome #stack-show figure a {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
    text-decoration: none
}

.new-ghome #stack-show blockquote {
    margin-bottom: 10px
}

.new-ghome .jointoday {
    margin-left: 10px;
    float: left;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-left: 0
}

.new-ghome .jointoday h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    margin-bottom: 5px
}

.new-ghome .jointoday p {
    padding-left: 2px;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: normal
}

.new-ghome .jointoday legend {
    display: none
}

.new-ghome .jointoday label {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    color: #000
}

.new-ghome .jointoday .fieldgroup {
    margin-top: 4px
}

.new-ghome .jointoday span.error {
    display: none
}

.new-ghome .jointoday form.feature {
    margin-top: 15px
}

.new-ghome .jointoday form.feature fieldset {
    overflow: hidden
}

.new-ghome .jointoday form.feature div.form-bottom-row {
    overflow: hidden;
    max-width: 360px;
    margin-top: 0px;
    margin-bottom: 10px
}

.new-ghome .jointoday form.feature p.action {
    float: left
}

.new-ghome .jointoday form.feature p.policy a {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
    text-decoration: none
}

.new-ghome .jointoday form.feature li {
    margin-top: 10px;
    padding-left: 2px
}

.new-ghome .jointoday input {
    background: #fdfdfd;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 6px 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #c1c1c1;
    font-size: 13px;
    color: #333
}

.new-ghome .jointoday .error input {
    background: #fdfdfd;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 6px 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #dd3737;
    font-size: 13px;
    color: #dd3737
}

.new-ghome .jointoday input, .new-ghome .jointoday .error input {
    height: auto;
    width: 344px
}

.new-ghome .jointoday .btn-action {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #f6e312;
    border-color: #e9ac1a;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF6E312', endColorstr='#FFF9C80D');
    background-image: -webkit-linear-gradient(top, #f6e312 0%, #f9c80d 100%);
    background-image: -moz-linear-gradient(top, #f6e312 0%, #f9c80d 100%);
    background-image: -o-linear-gradient(top, #f6e312 0%, #f9c80d 100%);
    background-image: linear-gradient(top, #f6e312 0%, #f9c80d 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    margin-top: 30px
}

.new-ghome button {
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 22px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left
}

#header {
    padding-bottom: 5px;
    -webkit-box-shadow: 0 1px 4px #ccc;
    -moz-box-shadow: 0 1px 4px #ccc;
    box-shadow: 0 1px 4px #ccc;
    z-index: 200;
    background: #F4F4F4;
    border-bottom: 1px solid #CDCDCD;
    position: absolute;
    top: 0;
    width: 100%
}

#header h1 {
    padding-top: 14px;
    float: left
}

#header .container {
    margin: 0 auto;
    width: 980px
}

#header .container p.textad {
    margin-top: 10px;
    line-height: 21px;
    float: left;
    width: 80%
}

#header .container .login {
    margin-right: 12px;
    float: right
}

#header .container .login input[type="text"], #header .container .login input[type="password"] {
    background-color: #fff;
    border-color: #ccc;
    width: 169px
}

#header .container .login #signin {
    margin-top: 17px
}

#header .container .login legend {
    display: none
}

#header .container .login li {
    padding-left: 10px;
    float: left
}

#header .container .login {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-left: 5px;
    font-size: 11px;
    margin-top: -4px
}

#ghome-footer {
    -webkit-box-shadow: 0 -1px 4px #ccc;
    -moz-box-shadow: 0 -1px 4px #ccc;
    box-shadow: 0 -1px 4px #ccc;
    padding-bottom: 20px;
    background: #F4F4F4;
    border-top: 1px solid #CDCDCD
}

#search-browse {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    width: 980px
}

#search-browse #search {
    text-align: center
}

#search-browse #search h3, #search-browse #search ul, #search-browse #search p {
    display: inline
}

#search-browse #search h3 {
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px
}

#search-browse #search li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-right: 10px
}

#search-browse #search li input {
    background-color: #fff;
    border-color: #ccc;
    width: 185px
}

#search-browse .btn-secondary {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px
}

.new-ghome .jointoday input, .new-ghome .jointoday .error input {
    color: #5e5e5e;
    padding-top: 7px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold
}

.new-ghome .jointoday input::-webkit-input-placeholder, .new-ghome .jointoday .error input::-webkit-input-placeholder {
    color: #999
}

.new-ghome .jointoday input:-moz-placeholder, .new-ghome .jointoday .error input:-moz-placeholder {
    color: #999
}

.new-ghome .jointoday input:-ms-input-placeholder, .new-ghome .jointoday .error input:-ms-input-placeholder {
    color: #999
}

.new-ghome .jointoday br {
    display: none
}

.new-ghome .jointoday form.feature p.action {
    float: none
}

.new-ghome .jointoday .btn-action {
    width: 358px;
    margin-top: 30px
}

.new-ghome #first-name {
    float: left
}

.new-ghome #first-name input {
    width: 140px
}

.new-ghome #last-name {
    float: left;
    margin-left: 8px
}

.new-ghome #last-name input {
    width: 180px
}

.new-ghome #email-address {
    clear: both
}

.new-ghome #email-address, .new-ghome #password {
    margin-top: 0;
    padding-top: 25px
}

.ie.lte8 .new-ghome #email-address, .ie.lte8 .new-ghome #password {
    padding-top: 15px
}

.new-ghome .two-row-image {
    float: left;
    margin-right: 40px;
    margin-top: 70px;
    width: 500px
}

.new-ghome .two-row-image img {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px
}